@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Syne", sans-serif;
  background: #F2F2F2;
}

.ant-table-wrapper .ant-table {
  font-family: "Syne", sans-serif !important;
}

.ant-btn-primary.ant-btn-background-ghost.btn-custom {
    color: #025595 !important;
    border-color: #025595 !important;
}

.ant-pagination {
  font-family: "Syne", sans-serif !important;
}

.ant-pagination .ant-pagination-item-active, .ant-pagination .ant-pagination-item-active a {
  border-color: #025595 !important;
  color: #025595 !important;
}

.ant-checkbox-wrapper {
  font-family: "Syne", sans-serif !important;
}

button.ant-btn {
  font-family: "Syne", sans-serif !important;
}

input.ant-input,
input.ant-input.ant-input-lg {
  font-size: 14px !important;
  font-family: "Syne", sans-serif !important;
}

label.ant-form-item-required {
  font-size: 15px !important;
  font-family: "Syne", sans-serif !important;
}

.ant-steps-item-icon .ant-steps-icon {
  font-size: 16px !important;
  font-family: "Syne", sans-serif !important;
}

.ant-steps-item-content .ant-steps-item-title {
  font-size: 15px !important;
  font-family: "Syne", sans-serif !important;
}

.wrapper-maps {
  border-radius: 10px;
}